/* ***********
import font
 ************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/*****
**************************** feature byike gray sacle
*******************************************************  */
.gray-scale {
    filter: grayscale(100%);
}

/* 
*******************************************background container color
******************************************************************  */
.bg-color {
    background-color: #264653;
}

/* 
 ************************************custom text color ***************
 ******************************************* */
.text-color {
    color: #E76F51;
}

/* ****************************************
****************button color ******************
************************************************ */
.btn-color {
    background-color: #E76F51;
}

/* ***********
*********************************info section text color  ********************
*******************************/
.text-color-info {
    color: gray;
}