/* ***********
import font
 ************** */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.gray-scale {
    filter: grayscale(100%);
}

.bg-color {
    background-color: #264653;
}

.text-color {
    color: #E76F51;
}

.btn-color {
    background-color: #E76F51;
}